<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Courses</h1>
    <ul>
      <%
      var list = '';
      for (i = 0; i < userlist.length; i++) {
        list += '<li><a href="mailto:' + userlist[i].email + '">' + userlist[i].username + '</a></li>';
      }
      %>
      <%- list %>
    </ul>
  </body>
</html>
