<!DOCTYPE html>
<html>
<head>
  <title><%= %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="hero-page">
    <img class="hero" src="img/error.png">
    <div class="body-content">
    <div class="Search">
    <h1 style="color: white;">ERROR 404<BR>PRAY FOR MR.GOOSE</h1>
    </div>
  </div>
</body>
</html>
