<!DOCTYPE html>
<html>
  <head>
    <title><%= %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Click here to login/signup</h1>
    <li><a href="/users">Login/Signup</a> </li>

    <h1>Click here to find courses</h1>
    <form action = "/courses" method="get">
      <label for="username">Enter the course code</label>
      <br><br>
      <input type="text" id="course" name="course"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
