<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Click here to login/signup</h1>
    <li><a href="/users">Login/Signup</a> </li>

    <h1>Click here to find courses</h1>
    <li><a href="/courses">Courses   </a> </li>
  </body>
</html>
