<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <p>Login</p>

    <form>
      <label for="username">Username</label>
      <br><br>
      <input type="text" id="username" name="username"><br><br>
      <label for="pwd">Password</label>
      <br><br>
      <input type="text" id="pwd" name="pwd"><br><br>
      <input type="submit" value="Submit">
    </form>

    <form>
      <label for="username">Signup</label>
      <br><br>
      <input type="text" id="username" name="username"><br><br>
      <label for="pwd">Password</label>
      <br><br>
      <input type="text" id="pwd" name="pwd"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
