body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

.hero {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-page {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.course-code{
  color: white;
  position: absolute;
  bottom: 120px;
  left: 240px;
}

.course-title {
  color: white;
  position: absolute;
  bottom: 80px;
  left: 240px;
}

.course-id {
  color: white;
  position: absolute;
  bottom: 40px;
  left: 240px;
}

.term-code {
  color: white;
  position: absolute;
  bottom: 40px;
  left: 400px;
}


.body-content {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.inner-margin {
  margin-top: 40px;
  margin-left: 240px;
  margin-right: 240px;
}

.content {
  display: flex;
}

.content img {
  margin-right: 10px;
  display: block;
}

.content h3,
.content p {margin: 0;}