body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E5E5E5;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.hero {
  width: 100%;
}

.hero-page {
  position: relative;
  width: 100%;
}

.course-code{
  color: white;
  position: absolute;
  bottom: 140px;
  width: 100%;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.course-title {
  color: white;
  position: absolute;
  bottom: 120px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.course-id {
  color: white;
  position: absolute;
  bottom: 60px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.term-code {
  color: white;
  position: absolute;
  bottom: 40px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.body-content {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.instructors-section {
  display:flex;
  align-items:center;
}

.card {
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  background-color: white;
}

.container {
  padding: 36px;
}

.ratings-in-line {
  display: flex;
  justify-content: space-between;
}